asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.3
cssselect==1.0.1
cx-Freeze==5.1
html5lib==1.0.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==4.1.1
olefile==0.44
parsel==1.2.0
Pillow==4.3.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.4.0
pypiwin32==220
queuelib==1.4.2
requests==2.18.4
Scrapy==1.4.0
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
urllib3==1.26.5
w3lib==1.18.0
webencodings==0.5.1
zope.interface==4.4.3
